image: ubuntu:18.04

pages:
  stage: deploy
  script:
    - echo "Publishing public directory for GitLab Pages"
  artifacts:
    paths:
      - public
  allow_failure: false
  only:
    - main
    - master