image: ubuntu:18.04

pages:
  stage: deploy
  script:
    - mkdir -p public
    - bash -O extglob -c 'cp -r !(public) public/'
    - rm -rf public/.git
    - rm -rf public/.gitlab-ci.yml
  artifacts:
    paths:
      - public
  allow_failure: false
  only:
    - main
    - master
  tags:
    - docker